.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  border-radius: 0 !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  background: #01001d;
  color: white;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  padding-left: 3px !important;
}

.css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root:after {
  border-color: #9aae00 !important;
}
